@import "tailwindcss";

:root {
  color-scheme: dark;
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
